/* New Quote - Top Left */
.quote-day-new {
    position: relative !important;;
}

.quote-day-new::before {
    content: '';
    display: block !important;;
    width: 10px;
    height: 10px;
    background-color: #db2912;
    border-radius: 50%;
    position: absolute !important;;
    top: 5%;
    left: 5%;
    cursor: pointer;
}

/* Booked Quote - Bottom Left */
.quote-day-booked {
    position: relative !important;;
}

.quote-day-booked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ae93f5;
    border-radius: 50%;
    position: absolute !important;;
    bottom: 5%;
    left: 5%;
}

/* Confirmed Quote - Bottom Right */
.quote-day-confirmed {
    position: relative;
}

.quote-day-confirmed::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #f593e8; /* Light purple circle */
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

/* On-Site Quote - Top Right */
.quote-day-onsite {
    position: relative;
}

.quote-day-onsite::before {
    content: '';
    display: block !important;;
    width: 10px;
    height: 10px;
    background-color: rgb(146, 116, 18);
    border-radius: 50%;
    position: absolute !important;;
    top: 5% !important;
    right: 5% !important;
}

/* On-Route Quote - Center Right */
.quote-day-onroute {
    position: relative;
}

.quote-day-onroute::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(18, 146, 103);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

/* Picked-Up Quote - Center Bottom */
.quote-day-pickedup {
    position: relative;
}

.quote-day-pickedup::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(38, 0, 255);
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translateX(50%);
}

.quote-day-cancel {
    position: relative;
}

.quote-day-cancel::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(28, 27, 22);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 50%;
    transform: translateY(50%);
}

.quote-day-deleted {
    position: relative;
}

.quote-day-deleted::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(83, 112, 56);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(50%);
}

.quote-day-accepted {
    position: relative;
}

.quote-day-accepted::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(56, 228, 228);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 50%;
    transform: translateX(50%);
}

/* Default Style */
.quote-day {
    background-color: rgb(92, 46, 46);
}

.quote-day::before {
    content: '';
    display: block !important;;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute !important;;
    cursor: pointer; /* Make the circle appear clickable */
}

.bg-day-new {
    background-color: #db2912;
}
.bg-day-booked {
    background-color: #ae93f5;
}
.bg-day-completed {
    background-color: #f593e8;
}
.bg-day-onsite {
    background-color: rgb(146, 116, 18);
}
.bg-day-onroute {
    background-color: rgb(18, 146, 103);
}
.bg-day-pickedup {
    background-color: rgb(38, 0, 255);
}
.bg-day-cancel {
    background-color: rgb(28, 27, 22);
}